---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=tag%3AService&Filter.1.Value.1=router&Filter.2.Name=instance-state-name&Filter.2.Value.1=running&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160111T172140Z
      X-Amz-Security-Token:
      - AQoDYXdzEPL//////////wEakAOIHyBWXKUSL/o67e19X2f6b3R5IfT50VtMAMHJeo6OPBKdVBFRwQFrTOkCyUAwfnfwkPjWIzoCAL6TTJewtyaYymXfedc6x5OMRUWFCtOOE7duwJPYzmCwLO1FatDkmBVQ1Z6C+i25uKaidguw+69yqUaFx4WyENy2aq13EkKzkWM1eoCNzI/udyAYV1VlZCEZYv+KKQpxxgr9ILrZSjeFtGo6pezTXsKm+JVAoOGrIi0NakleRp0P9B7EnfdO342wYuSbSgCOtiB/io0P/NXCMieXzoz8knvmXNAUjCM1XdIWS7PZRlUb/rAnzf3UI5UxUf6y6IQxpGl6SBdHeeljAU1WvIACPHhrEJQB4v0r2ZKhCSXI67ixUtSeBerLcSjd6dJVqgJxhBNpYNqCWOBFehYqcQusFw0T71UFTvBg7BDUCyeGzN/yIC7lly09jArytiSmJTkeYplXnkgsK7NeSTu1s7HKCiPxlB62XI2JXKfwhWLKhXCnv+COuqyWCwEjpESAAUOHWS94QCaaZ7WaIP+3z7QF
      X-Amz-Content-Sha256:
      - 540bac145df6ddfd002e15ac10c0743c6e8eed537423ef9657e06160bf96d0b7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=ASIAJ2ARJRBMEBPXSZ2A/20160111/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=6d677f5617bd20fdecdfecd3140b0505fc037333c39547c18db08c0a9937687d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>8ba6ac1f-8ab5-4fc7-a9a6-b80e461326ed</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-26fb9ff5</reservationId>
                    <ownerId>042293964381</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-1fb6aca9</instanceId>
                            <imageId>ami-b0210ed8</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-192-128-5.ec2.internal</privateDnsName>
                            <dnsName>ec2-54-86-50-158.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>sirwin</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2016-01-04T17:02:48.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-8a5088fc</subnetId>
                            <vpcId>vpc-b10863d5</vpcId>
                            <privateIpAddress>10.192.128.5</privateIpAddress>
                            <ipAddress>54.86.50.158</ipAddress>
                            <sourceDestCheck>false</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-54e05c2d</groupId>
                                    <groupName>sirwinspider-test-dev-vpc-NATRouterSG-N04NRRLWTZ2N</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/xvda</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/xvda</deviceName>
                                    <ebs>
                                        <volumeId>vol-6311ca81</volumeId>
                                        <status>attached</status>
                                        <attachTime>2016-01-04T17:02:51.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>sirwi-NATRo-LMM5OESOSI8A</clientToken>
                            <tagSet>
                                <item>
                                    <key>Service</key>
                                    <value>router</value>
                                </item>
                                <item>
                                    <key>Name</key>
                                    <value>router-us-east-1a</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:logical-id</key>
                                    <value>NATRouter0</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:stack-id</key>
                                    <value>arn:aws:cloudformation:us-east-1:042293964381:stack/sirwinspider-test-dev-vpc/920d62a0-b304-11e5-a767-500c5240588e</value>
                                </item>
                                <item>
                                    <key>Stack</key>
                                    <value>sirwinspider-test-dev</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:stack-name</key>
                                    <value>sirwinspider-test-dev-vpc</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-3716d378</networkInterfaceId>
                                    <subnetId>subnet-8a5088fc</subnetId>
                                    <vpcId>vpc-b10863d5</vpcId>
                                    <description/>
                                    <ownerId>042293964381</ownerId>
                                    <status>in-use</status>
                                    <macAddress>0a:d8:11:ef:05:75</macAddress>
                                    <privateIpAddress>10.192.128.5</privateIpAddress>
                                    <privateDnsName>ip-10-192-128-5.ec2.internal</privateDnsName>
                                    <sourceDestCheck>false</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-54e05c2d</groupId>
                                            <groupName>sirwinspider-test-dev-vpc-NATRouterSG-N04NRRLWTZ2N</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-f52e801f</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2016-01-04T17:02:48.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>54.86.50.158</publicIp>
                                        <publicDnsName>ec2-54-86-50-158.compute-1.amazonaws.com</publicDnsName>
                                        <ipOwnerId>amazon</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.192.128.5</privateIpAddress>
                                            <privateDnsName>ip-10-192-128-5.ec2.internal</privateDnsName>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>54.86.50.158</publicIp>
                                            <publicDnsName>ec2-54-86-50-158.compute-1.amazonaws.com</publicDnsName>
                                            <ipOwnerId>amazon</ipOwnerId>
                                            </association>
                                        </item>
                                    </privateIpAddressesSet>
                                </item>
                            </networkInterfaceSet>
                            <iamInstanceProfile>
                                <arn>arn:aws:iam::042293964381:instance-profile/razor/us-east-1/sirwinspider-test-dev/sirwinspider-test-dev-vpc-NATRouterRoleProfile-YU228Q0ULUH</arn>
                                <id>AIPAIK35YPSIXT52PBAEA</id>
                            </iamInstanceProfile>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-6437628d</reservationId>
                    <ownerId>042293964381</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-5986f9a0</instanceId>
                            <imageId>ami-b0210ed8</imageId>
                            [...]
